.App {
    text-align: center;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid green;
}

#remove-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid red;
}
#add-button:hover,
#remove-button:hover {
    opacity: 80%;
}

#left-movie-container {
    display: flex;
    left: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    #movie {
        height: 600px;
    }
}

#right-movie-container {
    display: flex;
    right: 0;

    overflow-x: auto;
    padding-left: 1rem;
    #movie {
        height: 300px;
    }
}

#movie {
    position: relative;
    background-color: #64c86420;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width:400px
}
#movie-info {
    width: -webkit-fill-available;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    padding: 2 + rem;
    bottom: 0;
}
#movie-title {
    font-weight: 500;
    font-size: 2rem;
    color: #ffd70d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem
}

#movie-overview {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    line-clamp: 2;
}

#right-movie-container #movie {
    background-color: #c8646420;
}
@media (max-width: 500px) {
    #left-movie-container {
        #movie {
            max-width: 200px;
            height: 300px !important;

            img {
                height: auto !important;
                width: 100%;
            }
        }
    }
    #right-movie-container {
        #movie {
            max-width: 100vw;
            max-height: 50vh !important;
            img {
                // height: 100 !important;
                width: auto;
            }
        }
    }
}
